<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.quartz.business.dao.BizTypeFieldMapper">
    <resultMap id="BaseResultMap" type="com.wim.quartz.business.entity.BizTypeField">
        <id column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <id column="field_name" jdbcType="VARCHAR" property="fieldName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="convert_field" jdbcType="VARCHAR" property="convertField"/>
    </resultMap>
    <resultMap id="AllResultMap" extends="BaseResultMap" type="com.wim.quartz.business.entity.BizTypeField">
        <collection property="convertFieldList"  column="{bizType=biz_type,fieldName=field_name}" ofType="map" javaType="java.util.ArrayList"
                    select="com.wim.quartz.business.dao.ConvertFieldMapper.findByBizTypeAndFieldName">
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    biz_type, field_name, description, convert_field
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.wim.quartz.business.entity.BizTypeField"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bdc_biz_type_field
        where biz_type = #{bizType,jdbcType=VARCHAR}
        and field_name = #{fieldName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.wim.quartz.business.entity.BizTypeField">
    delete from bdc_biz_type_field
    where biz_type = #{bizType,jdbcType=VARCHAR}
      and field_name = #{fieldName,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.wim.quartz.business.entity.BizTypeField">
    insert into bdc_biz_type_field (biz_type, field_name, description,
      convert_field)
    values (#{bizType,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{convertField,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wim.quartz.business.entity.BizTypeField">
        insert into bdc_biz_type_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="fieldName != null">
                field_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="convertField != null">
                convert_field,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizType != null">
                #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="fieldName != null">
                #{fieldName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="convertField != null">
                #{convertField,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wim.quartz.business.entity.BizTypeField">
        update bdc_biz_type_field
        <set>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="convertField != null">
                convert_field = #{convertField,jdbcType=VARCHAR},
            </if>
        </set>
        where biz_type = #{bizType,jdbcType=VARCHAR}
        and field_name = #{fieldName,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wim.quartz.business.entity.BizTypeField">
    update bdc_biz_type_field
    set description = #{description,jdbcType=VARCHAR},
      convert_field = #{convertField,jdbcType=VARCHAR}
    where biz_type = #{bizType,jdbcType=VARCHAR}
      and field_name = #{fieldName,jdbcType=VARCHAR}
  </update>
    <select id="findFieldListByBizType" resultMap="AllResultMap">
        select
        <include refid="Base_Column_List"/>
        from bdc_biz_type_field
        where biz_type=#{bizType}
    </select>
</mapper>