<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.quartz.business.dao.ConvertFieldMapper">
    <resultMap id="BaseResultMap" type="com.wim.quartz.business.entity.ConvertField">
        <id column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <id column="field" jdbcType="VARCHAR" property="field"/>
        <id column="field_key" jdbcType="VARCHAR" property="fieldKey"/>
        <result column="field_value" jdbcType="VARCHAR" property="fieldValue"/>
    </resultMap>
    <sql id="Base_Column_List">
    biz_type, field, field_key, field_value
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.wim.quartz.business.entity.ConvertField"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bdc_biz_type_convert_field
        where biz_type = #{bizType,jdbcType=VARCHAR}
        and field = #{field,jdbcType=VARCHAR}
        and field_key = #{fieldKey,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.wim.quartz.business.entity.ConvertField">
    delete from bdc_biz_type_convert_field
    where biz_type = #{bizType,jdbcType=VARCHAR}
      and field = #{field,jdbcType=VARCHAR}
      and field_key = #{fieldKey,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.wim.quartz.business.entity.ConvertField">
    insert into bdc_biz_type_convert_field (biz_type, field, field_key,
      field_value)
    values (#{bizType,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR}, #{fieldKey,jdbcType=VARCHAR},
      #{fieldValue,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wim.quartz.business.entity.ConvertField">
        insert into bdc_biz_type_convert_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="field != null">
                field,
            </if>
            <if test="fieldKey != null">
                field_key,
            </if>
            <if test="fieldValue != null">
                field_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizType != null">
                #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="field != null">
                #{field,jdbcType=VARCHAR},
            </if>
            <if test="fieldKey != null">
                #{fieldKey,jdbcType=VARCHAR},
            </if>
            <if test="fieldValue != null">
                #{fieldValue,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wim.quartz.business.entity.ConvertField">
        update bdc_biz_type_convert_field
        <set>
            <if test="fieldValue != null">
                field_value = #{fieldValue,jdbcType=VARCHAR},
            </if>
        </set>
        where biz_type = #{bizType,jdbcType=VARCHAR}
        and field = #{field,jdbcType=VARCHAR}
        and field_key = #{fieldKey,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wim.quartz.business.entity.ConvertField">
    update bdc_biz_type_convert_field
    set field_value = #{fieldValue,jdbcType=VARCHAR}
    where biz_type = #{bizType,jdbcType=VARCHAR}
      and field = #{field,jdbcType=VARCHAR}
      and field_key = #{fieldKey,jdbcType=VARCHAR}
  </update>
    <select id="findByBizTypeAndFieldName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bdc_biz_type_convert_field
        where biz_type=#{bizType} and field=#{fieldName}
    </select>
</mapper>