<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.quartz.business.dao.FieldMappingMapper">
    <resultMap id="BaseResultMap" type="com.wim.quartz.business.entity.FieldMapping">
        <id column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <id column="field" jdbcType="VARCHAR" property="field"/>
        <id column="key" jdbcType="VARCHAR" property="key"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>
    <sql id="Base_Column_List">
    biz_type, field, key, value
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.wim.quartz.business.entity.FieldMapping"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bdc_biz_type_field_mapping
        where biz_type = #{bizType,jdbcType=VARCHAR}
        and field = #{field,jdbcType=VARCHAR}
        and key = #{key,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.wim.quartz.business.entity.FieldMapping">
    delete from bdc_biz_type_field_mapping
    where biz_type = #{bizType,jdbcType=VARCHAR}
      and field = #{field,jdbcType=VARCHAR}
      and key = #{key,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.wim.quartz.business.entity.FieldMapping">
    insert into bdc_biz_type_field_mapping (biz_type, field, key, 
      value)
    values (#{bizType,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wim.quartz.business.entity.FieldMapping">
        insert into bdc_biz_type_field_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="field != null">
                field,
            </if>
            <if test="key != null">
                key,
            </if>
            <if test="value != null">
                value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizType != null">
                #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="field != null">
                #{field,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wim.quartz.business.entity.FieldMapping">
        update bdc_biz_type_field_mapping
        <set>
            <if test="value != null">
                value = #{value,jdbcType=VARCHAR},
            </if>
        </set>
        where biz_type = #{bizType,jdbcType=VARCHAR}
        and field = #{field,jdbcType=VARCHAR}
        and key = #{key,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wim.quartz.business.entity.FieldMapping">
    update bdc_biz_type_field_mapping
    set value = #{value,jdbcType=VARCHAR}
    where biz_type = #{bizType,jdbcType=VARCHAR}
      and field = #{field,jdbcType=VARCHAR}
      and key = #{key,jdbcType=VARCHAR}
  </update>
    <select id="findByBizTypeAndFieldName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bdc_biz_type_field_mapping
        where biz_type=#{bizType} and field=#{fieldName}
    </select>
</mapper>