<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.quartz.business.dao.TableFieldMapper">
  <resultMap id="BaseResultMap" type="com.wim.quartz.business.entity.TableField">
    <id column="table_id" jdbcType="BIGINT" property="tableId" />
    <id column="field_id" jdbcType="BIGINT" property="fieldId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="order" jdbcType="INTEGER" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, field_id, description, `order`
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.wim.quartz.business.entity.TableField" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bdc_table_field
    where table_id = #{tableId,jdbcType=BIGINT}
      and field_id = #{fieldId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wim.quartz.business.entity.TableField">
    delete from bdc_table_field
    where table_id = #{tableId,jdbcType=BIGINT}
      and field_id = #{fieldId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wim.quartz.business.entity.TableField">
    insert into bdc_table_field (table_id, field_id, description, 
      `order`)
    values (#{tableId,jdbcType=BIGINT}, #{fieldId,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wim.quartz.business.entity.TableField">
    insert into bdc_table_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="fieldId != null">
        field_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="order != null">
        `order`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null">
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wim.quartz.business.entity.TableField">
    update bdc_table_field
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        `order` = #{order,jdbcType=INTEGER},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=BIGINT}
      and field_id = #{fieldId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wim.quartz.business.entity.TableField">
    update bdc_table_field
    set description = #{description,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=INTEGER}
    where table_id = #{tableId,jdbcType=BIGINT}
      and field_id = #{fieldId,jdbcType=BIGINT}
  </update>
</mapper>